{#
vim:filetype=htmldjango:sw=2:ts=2:sts=2:
#}
<div class="resource-group">
  <div class="resource">
    <div class="resource-label">{{resource.label}}</div>
    {% set resOps = resource.operations %}

    {% if resOps %}
      <div class="resource-operations">
      {% for opIdentifier, opDef in resOps %}
        <div class="checkbox">
          <label>
            <input type="checkbox" name="{{rules_field_name|default('rules')}}[{{ resource.identifier }}][{{opDef.identifier}}]" value="1"> 
            {{opDef.label}}
          </label>
        </div>

        {#
        <div class="checkbox">
          <label>
            <input type="checkbox" name="rules[{{ resource.identifier }}][{{opDef.identifier}}]" value="1"> 
            {{opDef.label}}
          </label>
        </div>
        #}
      {% endfor %}
      </div>
    {% endif %}
  </div>

  {% if resource.childResources %}
    {% for childResource in resource.childResources %}
      {% include "@Kendo/resource.html.twig" with { "policy": policy, "resource": childResource } %}
    {% endfor %}
  {% endif %}
</div>
