{#
vim:filetype=htmldjango:sw=2:ts=2:sts=2:
#}
<div class="resource-group resource-group-{{resource.identifier|escape('html_attr')}}">
  <div class="resource">
    {% if resource.childResources and resource.operations|length == 1 %}
      {# render the first operation on the left of the label #}
      {% set firstOp = resource.operations|first %}
      <div class="resource-label">
        <label class="checkbox-inline">
          {# If there is only one operation, we simply render the checkbox #}
          <input
            type="checkbox" name="{{rules_field_name|default('rules')}}[{{resource.identifier}}][{{firstOp.identifier}}]" 
            value="1"
            {% if readonly %} disabled="disabled" {% endif %}
            {% if editor.getPermission(resource.identifier, firstOp.identifier) %}
            checked="checked"
            {% endif %}
          />
          {{resource.label}}
        </label>
      </div>

    {% else %}

      <div class="resource-label">
        <label class="checkbox-inline">
          {% if not readonly %}
          <input type="checkbox"/>
          {% endif %}
          {{resource.label}}
        </label>
      </div>

      {% set resOps = resource.operations %}
      {% if resOps|length > 0 %}
        <div class="resource-operations">
        {% for opIdentifier, opDef in resOps %}

          {# inline styled checkbox #}
          <label class="checkbox-inline">
            <input type="checkbox"
                    name="{{rules_field_name|default('rules')}}[{{ resource.identifier }}][{{opDef.identifier}}]" 
                    value="1"

                    {% if readonly %} disabled="disabled" {% endif %}
                    {% if editor.getPermission(resource.identifier, opDef.identifier) %}
                    checked="checked"
                    {% endif %}
            />
            {{opDef.label}}
          </label>
          {# block styled checkbox #}
          {#
          <div class="checkbox">
            <label>
              <input type="checkbox" name="rules[{{ resource.identifier }}][{{opDef.identifier}}]" value="1"> 
              {{opDef.label}}
            </label>
          </div>
          #}
        {% endfor %}
        </div>
      {% endif %}
    {% endif %}
  </div>

  {% if resource.childResources %}
    {% for childResource in resource.childResources %}
      {% include "@Kendo/resource.html.twig" with { "policy": policy, "resource": childResource } %}
    {% endfor %}
  {% endif %}
</div>
